@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

* {
  margin: 0;
}

:root {
  --primary-color: #9bc1bc;
  --primary-btn-color: #073b4c;
  font-family: "Nunito Sans", sans-serif;
}
